.breadcrumb-holder {
  margin-top: 24px;
  margin-bottom: 24px;
}

.post-preview {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin-bottom: 48px;
  @include max-tablet {
    flex-wrap: wrap;
  }
}

.post-preview-image {
  position: relative;
  flex-basis: 30%;
  vertical-align: bottom;
  img {
    vertical-align: bottom;
  }
  @include max-tablet {
    flex-basis: auto;
    margin-left: auto;
    margin-right: auto;
    // img {
    //   max-width: 400px;
    //   width: 100%
    // }
  }
}

.post-preview-info {
  flex-basis: calc(70% - 48px);
  padding-top: 8px;
  padding-left: 48px;
  img {
    display: none;
  }
  @include max-tablet {
    flex-basis: 100%;
    // max-width: 400px;
    // margin-left: auto;
    // margin-right: auto;
    padding-left: 0;
  }
}

.post-preview-time,
.post-preview-comments {
  position: absolute;
  bottom: 10px;
  color: $white;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 10px;
  text-transform: uppercase;
}

.post-preview-time {
  left: 10px;
}

.post-preview-comments {
  right: 10px;
  z-index: 1;
}

.post-preview-copy {
  color: $alt-gray;
  margin-bottom: 36px;
}

.post-preview-readmore {
  display: block;
  width: 240px;
  height: 50px;
  border: 2px solid $dark;
  background-color: $dark;
  text-align: center;
  line-height: 45px;
  letter-spacing: 1px;
  transition: background-color 0.5s, color 0.5s;
  &:link {
    color: $white;
  }
  &:visited {
    color: $white;
  }
  &:hover {
    background-color: $white;
    color: $dark;
  }
  &:active {
    color: $white;
  }
  @include max-tablet {
    width: 100%;
  }
}

