.cart-item {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom:1rem;
  border-bottom:1px solid $porcelain;
  .item-image {
    flex-basis: 106px;
    padding-right: 6px;
  }
  .item-info {
    flex-basis: calc(100% - 106px);
    padding-left: 6px;
    @include min-tablet {
      padding-left:1.5rem;
    }
  }
}

.info-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  :first-child {
    flex-basis: 50%;
  }
  :last-child {
    flex-basis: 50%;
  }
}

.middle.info-row {
  align-items: flex-end;
  width:auto;
  :last-child {
    max-width: 40px;
  }
}

a.item-info-vendor {
  @extend %merireg;
  color: $dove-gray;
  text-decoration: underline;
  @include mobile-only {
    font-size: 10px
  }
}

a.item-info-remove {
  font-size: 9px;
  padding-top: 6px;
  position: relative;
  &::before {
    // content: 'x';  // for no transform on pseudoelement
    content: '+';
    position: absolute;
    top: -12px;
    right: 0;
    height: 0;
    font-family: helvetica, sans-serif;
    font-size: 22px;
    font-weight: 200;
    transform: rotate(45deg);
  }
  &:link {
    color: #e04d39;
  }
  &:visited {
    color: #e04d39;
  }
}

a.item-info-title {
  font-family:$mont;
  padding-right: 12px;
  line-height:1.2;
  color:$dark;
  @include mobile-only {
    font-size: 12px;
  }
}

.item-info-quantity {
  @extend %montreg;
  @include mobile-only {
    font-size: 12px;
  }
}

.item-info-size {
  @include mobile-only {
    font-size: 10px;
  }
}

.item-info-price {
  &::first-letter {
    vertical-align: super;
    font-size: 8px;
    @include mobile-only {
      font-size: 5px;
    }
  }
  @include mobile-only {
    font-size: 10px;
  }
  &.item-info-price-sale {
    color: #FF0000;
    .compare-at-price {
      color: #616161;
      font-size: .75em;
    }
  }
}


.finished-shopping {
  display: flex;
  margin-bottom:3rem;
  @include min-small-mobile {
   flex-flow: column;
  }
  @include min-tablet {
    flex-flow: row nowrap;
    justify-content:space-between;
    padding-top:1.5rem;
    margin-bottom:4rem;
  }
  
}


  .checkout {
    outline:0 none;
    font-family:$mont;
    border:2px solid #fff;
    @include min-small-mobile {
      font-size: 20px;
      padding: 16px 0;
      width:100%;
      margin:0 auto;
     letter-spacing: 1px;
     background-color: $dark;
     color:#fff;
     order:2;
    } 

    @include min-tablet {
      margin:0;
      max-width:320px;
      order:0;
      @include transition(all 150ms ease-out);
      &:hover {
            color: $dark;
            background-color: $white;
            border-color:$dark !important;

      }
    }
  }



.subtotal {

  @include min-small-mobile {
    order:0;
    margin-top:0;
    border-bottom:1px solid $porcelain;
    border-top:1px solid $porcelain;
    padding:0.5rem 0;
    margin-bottom:12px;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-between;
      div {

      }
  }
  @include min-tablet {
    order:2;
    flex-flow: column nowrap;
    border-bottom:none;
    margin-bottom:0;
    border-top:none;

  }
}

.subtotal-text {
  color: $outer-space;
  font-size: 10px;
  line-height:1.5rem;
  @include min-tablet {
    font-size:0.875rem;
    line-height:1;
  }
}

.subtotal-amount {
  font-size:1.25rem;
  line-height:1.5rem;
  @include min-tablet {
    font-size:1.75rem;
    line-height:1;
  }
}


.disclaimers {
  label {
    display: inline;
    color: $outer-space;
    font-size: 0.875rem;
    padding-left:0.25rem;
    font-family:$meri; 
 
      a {
        text-decoration: underline;
       }
     }
    @include mobile-only {
      margin-bottom:1.5rem;
      label {
        font-size: 0.55rem;
      }
    }
}

.disabled { 
  border-color:$alt-gray;
  background:#fff;
  color:$alt-gray;
  &:hover {
      border-color:#ed1616 !important;
      background:#fff;
      color:#ed1616;
  }

}











