.account-form {
 max-width: 450px;
  width:100%;
  margin: 0 auto;
  padding:0 24px;
  &.recover-password { 
    .account-form-title {
      margin-bottom: 0;
    }
    .account-form-subtext {
      text-align: center;
      margin-bottom: 60px;
    }
  }
  label {
    @extend %montbold;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 8px;
  }
  input {
    @extend %montreg;
    width: 100%;
    border: none;
    &:focus {
      outline: 0;
    }
  }
}

.account-form-title {
  text-transform: uppercase;
  text-align: center;
  margin: 72px 0 60px;
  @include max-large-tablet {
    margin:24px 0;
  }
}

.account-form .account-form-input {
  border-bottom: 2px solid $dove-gray;
  margin-bottom: 12px;
}

.account-form-submit input {
  border: 2px solid $dark;
  background-color: $dark;
  text-transform: uppercase;
  padding: 14px 0;
  margin: 24px 0 72px;
  transition: background-color 0.5s, color 0.5s;
  &:hover {
    color: $dark;
    background-color: $white;
  }
}

.account-form-action {
  @extend %montreg;
  color: $alt-gray;
  text-transform: uppercase;
  margin: 24px 0 12px;
  font-size: 12px;
  @include max-large-tablet {
    margin:4px 0;
  }
  &.forgot-password {
    float: left;
    @include max-large-tablet {
      float:none;
    }
  }
  &.register-account {
    float: right;
    @include max-large-tablet {
      float:none;
    }
  }

  a {
    &:link {
      text-decoration: underline;
      @include max-large-tablet {
        font-size:11px;
        float:none;
      }
    }
    &:visited {

    }
    &:hover {
      color: $dark;
    }
    &:active {

    }
  }
}
#customer-account, #customer-order {
  #order_payment, #order_shipping {
    margin:0.5rem 0;
    p {
      font-size:0.75rem;
      color:$dove-gray;
    }
  }
  #order_payment {
      border-bottom:1px solid $porcelain;
      padding-bottom:0.5rem;
    @include min-large-tablet {
      margin-top:1.5rem;
      width:50%;
      float:left;
      border-bottom:none;
      padding-bottom:0rem;
    }
  }
  #order_shipping {
    @include min-large-tablet {
      margin-top:1.5rem;
      width:50%;
      float:left;
    }
  }
  table {
    width:100%;
    text-align:left;
  }
  #customer_sidebar {
    border-top:1px solid $porcelain;
    h2 {
      font-size:1rem;
      text-transform:capitalize;
    }
    p {
      font-size:0.75rem;
      color:$dove-gray;
    }
    a {
      font-size:0.875rem;
      text-decoration:underline;
    }
  }
  #customer_orders {
    padding:0.5rem 1rem;
    border:1px solid $porcelain;

    label {
      display:block;
      font-size:9px;
      margin-bottom:0.25rem;
      text-transform:uppercase;
      color:$dove-gray;
    }
    tr {
      border-bottom:1px solid $porcelain;
    }
    tr:last-child {
      border-bottom:none;
    }
    td {
      a {
        background:$outer-space;
        color:#fff;
        text-align:center;
        display:inline-block;
        padding:0.15rem;
        min-width:100px;
        font-size:11px;
        text-decoration:underline;
        border:2px solid #fff;
          &:hover {
           color: $dark;
           background-color: $white;
           border-color:$dark;
       }
      }
    }

  }
  .title-info {
    margin-bottom:2rem;
      @include min-small-mobile {
        h1 {
          font-size:16px;
         a {
            display:block;margin-top:0.75rem;
          }
        }
      }
      @include min-large-tablet {
        h1 {
          font-size:24px;
          a {
             display:inline;
             margin-top:0;
          }
        }
      }
  }
  .row {
   @include clearfix;

      a.btn {
        font-size:0.875rem;
        color:#fff;
        display:inline-block;
        padding:0.5rem 12px;;
        text-align:center;
        border:2px solid #fff;
        min-width:140px;
          &:hover {
           color: $dark;
           background-color: $white;
           border-color:$dark;
       }

       @include min-large-tablet {
        
          float:right;
       }


      }
  }

  @include min-small-mobile {
    padding:1rem 1rem;
    #customer_orders {
      td {
        width:100%;
        display:block;
        padding:4px;
        text-align:center;
        a {
          padding:0.5rem;
        }
      }
      tr {
        td:first-child {
          padding-top:12px;
        }
      }
    }
    #customer_sidebar {
      padding:0 36px;
    }
    #order_details {
          label {
          display:block;
          font-size:9px;
          margin-bottom:0.25rem;
          text-transform:uppercase;
          color:$dove-gray;
        }
          td {
        width:100%;
        display:block;
        padding:4px;
        text-align:center;
        a {
          padding:0.5rem;
        }
      }
      tr {
        border-bottom:1px solid $porcelain;
        td:first-child {
          padding-top:12px;
        }
      }  
    }
  }

  @include min-large-tablet {
    padding:3rem 0;
    #customer_sidebar {
          width:22%;
          float:left;
          padding:1.5rem 0 0 0;

    }
    #customer_orders {
        width:77%;
        float:right;
        td {
          width:auto !important;
          display:table-cell;
          padding:18px 8px;
          text-align:left;
        }
    }

    #order_details {
        td {
          width:auto !important;
          display:table-cell;
          padding:18px 8px;
          text-align:left;
          a {
            padding:0;
          }
        }
    }

  }

}
