#your-shopping-cart {

	a.return-to-store {
		line-height:1;
		i {
			margin-right:0.5rem;top:-1px;
		}
		@include min-small-mobile {
			font-size:0.5675rem;
			display:block;
			border-bottom:1px solid $porcelain;
			padding-bottom:0.25rem;
			color:$outer-space();	
			margin-bottom:1.5rem;
		}
		@include min-tablet {
			padding-bottom:0;
			border-bottom:0 none;
			font-size:0.75rem;
			margin-bottom:1rem;
		}

	} 
	h1 {
		@include min-small-mobile {
			font-size:1rem;
		}
		@include min-tablet {
			font-size:1.5rem;
			text-align:left;
		}
	}
	.cart-heading {
		text-align: left;
		padding: 0 12px 0.5rem 0;
		font-size: 20px; 
		text-transform: uppercase;
		border-bottom:1px solid $porcelain;
		margin:0 auto 1.5rem;
		max-width:760px;
		width:100%;
		@include min-tablet {
			margin-top:1.5rem;
		}
		@include max-tablet {
	
			a {
				padding:0.5rem 0;display:block;
				border-bottom:0 none;
			}
		}
		@include mobile-only {
			padding-right:12px;
			a {
				margin-top:1rem;
			}
		}
	}

	.shipping-policy-popup {
    background-color: $white;
    left: calc(50% - 250px);
    position: fixed;
    top: 150px;
    width: 600px;
    height: 400px;
    padding: 25px;
    overflow: scroll;
    @include max-large-tablet {
    	width: 95%;
    	left: 3%;
    	height: 250px;
    }
    .close-shipping {
	    cursor: pointer;
	    font-size: 30px;
	    position: absolute;
	    top: 11px;
	    right: 24px;
	    transform: rotate(45deg);
	    transform-origin: 50% 50% 0;
	    transition: all 200ms ease-out 0s;
    }
		ul,
		ol {
			margin: 15px 0;
			padding-left: 30px;
		}
    p {
    	margin-bottom: 10px;
    	&:last-child {
    		margin-bottom: 0;
    	}
    }
	}


.new-disclaimers {
	ul {
		list-style:none;
		line-height:1;
		li {
			display:block;
			margin-bottom:12px;
			cursor:pointer;
			@include clearfix();
			div {
				width:96%;
				float:right;
				padding-top:2px;
				@include mobile-only {
					width:90%;
					font-size:12px;
				}
			}
			a {
				text-decoration:underline;
			}
			&.is-checked {
				figure {
					background:#000;
				}
			}
			span {
				font-size:10px;
			}
			&.checkshipping {
				span {
					color:#e04d39;
				}
			}
		}
	}
	figure {
		height:18px;
		width:18px;
		display:inline-block;
		background:#fff;
		position:relative;
		border:2px solid $outer-space;
		&:after {
			width:14px;
			height:14px;
			display:block;
			content:"";
			position:absolute;
			top:0;
			left:0;
			z-index:4;
			@include background-file('checkbox-white.png');
			background-size:100%;
			background-repeat:no-repeat;
		}
	}

}

}


