@mixin css_arrow( $direction, $diameter, $stroke ) {

  @if $direction == down {
    -webkit-transform: rotate(45deg);
  }
  @if $direction == left {
    -webkit-transform: rotate(135deg);    
  }
  @if $direction == up {
    -webkit-transform: rotate(225deg);        
  }
  @if $direction == right {
    -webkit-transform: rotate(315deg);        
  }

  -webkit-font-smoothing: antialiased;
  content: '';
  display: block;
  width: $diameter;
  height: $diameter;
  position: absolute;
  border: $stroke;
  background: rgba(0, 0, 0, 0);
  border-left: 0; 
  border-top: 0;
  outline: 0;
  //-webkit-transform: rotate($angle);
  cursor: pointer; 
  top: 50%;
  //margin-top: 0 - $diameter / 2;
  margin-top: -14px; 
} 


%showit {
    opacity:1;
    visibility:visible;
    height:auto; 
    display:block;
}

.collection-filters {



  @include desktop {
    display: block;
    float: left;
    // width: 18rem;
    width: 25%;
  }
@include min-large-tablet {
  padding-left:16px;
}
@include desktop-large {
  padding-left:0;
}


}



//------------------
// Filter Set Block
//------------------
.collection-filters .filter {
  
  width:100%;
  padding-top: 2rem;
  margin-bottom: 2rem;
  //border-top:1px solid #e2e2e2;
  &:first-child{ border-top: none; }


  @include max-large-tablet {
    max-width: 90%;
    margin-left: 5%;
  }
  @include desktop {
    max-width:220px;
  }


  h4 {
    display: block;
    //content: '+';
    color: $dark;
    text-transform: uppercase;
    margin-bottom: 0.7rem;
    color: rgb(32, 36, 38);
    border-bottom-color: rgb(242, 244, 245);
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(242, 244, 245);
    padding-bottom: 5px;

 
    &.no-border {
      border-bottom: none;
    }


    @include desktop {
      // display: inline-block;
      // color: $porcelain;
      //color: $dove-gray;
      //margin: 0 0.25rem;
    }
  }

  @mixin anchor_element {
    display:block;
    cursor: pointer;
    color: rgb(122, 122, 122);
    &:hover { color: $dark; }
    font-family:$mont;
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
  }

  a.clear {
    @include anchor_element;
    position: relative;
    color:#d51616;
    font-size:12px;
    border-bottom:2px solid #d51616;
    margin-bottom:8px;
    font-family:$mont;
    font-weight:500;
    i {
      position:relative;
      top:-1px;
      margin-right:4px;
      margin-left:4px;
    }
    &::before {
      display:none;
    }

    &.hide {
      display: none;
    }
    &:hover {
      background:#d51616;
      color:#fff;
      border-bottom:2px solid #d51616;
      margin-bottom:8px;
    }
  }

  ul {
    list-style:none;
    li {
      line-height:1;
      @include min-large-tablet {
        &:hover {
          background:#f1f1f1;
          color:#000;
        }
      }
    }
  }

  ul li a {
    @include anchor_element;
    
  }

  ul li a.active {
    color:#000 !important;
  }

}

//-------------------
// Predictive Search
//-------------------
.filter .search-form {
  border-bottom: 2px solid rgb(97, 97, 97);
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 445px;
  position:relative;

  @mixin input_text {
    color: rgb(32, 36, 38);
    color: #BDBDBD;
    //display: block;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal; 
    text-indent: 5px; 
  }

  ::-webkit-input-placeholder {
    @include input_text;
  }
  :-moz-placeholder { /* Firefox 18- */
    @include input_text;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    @include input_text;
  }
  :-ms-input-placeholder {  
    @include input_text;
  } 
  input {
    border: none;
    @include input_text;
    padding-bottom: 4px;
    padding-left:18px;
    color: rgb(32, 36, 38);
 
    @include max-tablet {
      max-width: 80%;
      margin-bottom: 4px;
    }
  }

  input:focus, button:focus {
    outline: none;
  }


  //padding-left:1.875em;
  // margin-bottom:0.875rem;
  // margin-top:0.875rem;


  input {
    // font-size:0.75rem; 
    // padding:4px;
    // //@extend %montreg;
    // border: none; 
  }
  button {
    position:absolute;
    left:0;
    top:2px;
    width:14px;
    display:block;
  }
  i {
    //margin-left:0.25rem;
  }
}
.filter.designer ul {
  // max-height: 250px;
  // overflow-y: scroll;
}


.size-container, .search-form, ul.designers {
  // opacity:0;
  // visibility:hidden;
  // @include transition(all 300ms ease-in);
  // @include translate(0px, -20px); 
}


.filter {
  @extend %montreg;
  width:100%;
  padding-top:1rem;
  //border-top:1px solid #f7f7f7;
  margin-bottom:0.75rem;
  margin-top:0.75rem;

  &.is-visible {
    .size-container, .search-form, ul.designers {
      @extend %showit;
      @include transform(translate3d(0,0,0));
    } 
  }



}

.filter li a {
  &.active {
    color: black;
  }
}

.category.filter { 
  margin-top:0;
  border-top:0 none;
}


//---------------
// Sizes Options
//---------------
div.size-container {

  ul li {
  
  }
  ul li a {
  
  }
  ul li a b {
    width: 50%;
    display: inline-block; 
    max-width: 45px; 
  }
  ul li a mark {
    background: none;
    width: 50%;
    display: inline-block;
    color: inherit;
  }

} 
 
.sizing-chart {
  //margin-top: 30px;
  margin-top: 24px;

  // > div {
  //   @include transition(all 300ms ease);
  //   opacity:0;
  //   visibility:hidden;
  //   @include translate(0px, -100%);     
  // }

  // &.expanded > div {
  //   opacity: 1; 
  //   visibility: visible;
  //   @include translate(0px, 0px);     
  // } 

  > div {
    display: none;
  }

  h5 {
    //border-bottom: 1px solid #ddd;
    // border-bottom: 1px solid #f2f4f5;
    // padding-bottom: 10px; 
    // margin-bottom: 10px; 
    cursor: pointer;
    display:block;
    color: white;
    background: $shark-black;
    padding:8px 4px 8px 10px;
    font-size:12px;
    font-weight:500;
    font-family:$mont;
    text-align:left;
    -webkit-font-smoothing:auto;
    text-transform:uppercase;
    border:2px solid $outer-space;
    width:90%;
    margin-bottom:1rem;
    @include max-large-tablet {
      width:100%;
      text-align:center;
      padding:8px 0 !important;
    }
    @include desktop {
      &:hover {
        background:#fff;
        color:$outer-space;

      }
    }
 


  }

  @include desktop {
    width: 85%;  
  }
}
.sizing-chart ul {
  display:-webkit-flex;
  display:flex;
  flex-wrap: wrap;
  list-style:none;
  justify-content:space-around;
  //border-bottom:1px solid #f7f7f7;
  padding-bottom:0.25rem;
  padding-top:0.25rem; 


  li {
      text-align:center;
      font-size:0.675rem;
      width:25px;
 
    &:first-child{ 
      text-align: left; 
      font-weight: bold;
    }

  }
}

// ul.checkboxes {
//   border-bottom:none;
//   li {
//     strong {
//       display:block;
//       font-size:0.55rem;
//       margin-bottom:0.15rem;
//     }

//   }
// }



//----------------------------------
// Mobile Dropdown Visibility Stuff
//----------------------------------
/*
.collection-filters {
  @include max-large-tablet {
    margin-top: 20px;  
  }
}

.collection-filters .filter { 

  @include max-large-tablet {
    // when hidden
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px; 
    margin-bottom: 5px; 



    h4 {
      cursor: pointer;
      text-indent: 20px;
      padding: 0;
      margin: 0;
      padding-bottom: 17px;


      position: relative;
      &::before {
       @include css_arrow( down, 8px, 2px solid black );
      }


    }

    ul, .search-form {
      display: none;
    }

    //-------------------------
    // When expanded in mobile
    //-------------------------
    &.expand-for-mobile {
      margin-bottom: 10px;
      border-bottom: 1px solid #f2f4f5;
      padding-bottom: 17px;


      ul, .search-form {
        display: block;
      }

      h4 {
        border-bottom: 0;
        //padding-bottom: 0;
      }

    }



  }

  @include desktop {
    ul, .search-form {
      display: block;
    }
  }
}
*/
 


//--------------------------
// Mobile Specific Controls
//--------------------------

body.template-collection {

  a#open-filters-flyout {
    display: none;

    // @include max-large-tablet {
    //   display: block;
    //   position: fixed;
    //   right: 0;
    //   z-index: 999;
    //   border-radius: 4px 0 0 4px;
    //   height: 40px;
    //   width: 40px;
    //   top: 70%;
    //   background: rgb(2, 2, 2);
    //   cursor: pointer;
    //   border: 2px solid #FFF;
    //   border-right: 0;
    //   box-shadow: 0px 0px 0px 2px rgba(0,0,0,1), 0px 0px 9px 4px rgba(0,0,0,0.2);

    //   span {
    //     font-size: 20px;
    //     color: white;         
    //   }    
    // }

    @include max-large-tablet {
      display: block;
      position: fixed;
      right: 0;
      z-index: 999;
      height: 96px;
      width: 34px;
      top: 12%;
      background: $shark-black;
      border-right: 0;
      cursor: pointer;

      span {
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
        display: inline-block; 
        overflow: visible;
        height: auto;
        width: 153px;
        right: 62px;
        top: 26px;
        letter-spacing: 2px;
        position: relative;
        font-size: 11px;
        color: white;         
      }
    }




  } 

  // footer.site-footer {
  //   position: relative;
  //   z-index: 1000;  
  // }

  .btn.caps { 
    display: block;
    width: 240px;
    height: 40px;
    border: 2px solid $shark-black;
    background-color: $shark-black;
    text-align: center;
    line-height: 36px;
    letter-spacing: 1px;
    margin-bottom:12px;
    font-family:$mont;
    font-weight:700;
  }

  #filters-flyout a#close-flyout {
    display: none;
    margin-top: 0px;
    cursor: pointer;
       @include transform(translate3d(0,28px,0));
    .text {
      text-transform: uppercase;
      color: black;
      line-height: 30px;
      display: inline-block;
      @include transform(translate3d(0,-6px,0));
      font-size: 14px;  
      i {
        position:relative;
        top:-1px;
      }  
    }
    .collection-filters .filter {
      margin-left:0;
    }


  @include max-large-tablet {
      display: block;
      .text {
          background:#fff;
          color:#d51616;
          border:3px solid #d51616;
          font-family:$mont;
          font-weight:500;
          padding:0 17px;

          i {
            margin-right:6px;
          }
      }
  }

  }

}





// Copied somewhat from `#link-list` in _navigation.scss
#filters-flyout {
  
  @include max-large-tablet {
    //min-height: 100%;
    //min-width: 280px;

    height: 100vh;
    position: absolute; 
    padding: 0 30px;
    z-index: 1000;
    background: #FFF;
    border-left: 3px solid $shark-black;
    //top: -40px !important; // same as padding-top on `html`
    top: 0px !important; // same as padding-top on `html`
    right: 0;
    overflow-y: scroll;
    @include transition(all 200ms ease-out);
    @include transform(translate3d(100%,0,0));


    width: 0px;
    min-width: 0px;
    padding: 0;    
  }

  &.shown {
    transform: translate3D(0,0,0);
    width: auto;
    //min-width: 280px;
    
    padding: 0 24px 24px 24px;
  }

  //-------------------------
  // Mobile only adjustments - new - mostly just making things bigger
  //-------------------------
  @include max-large-tablet {
  
    a#close-flyout {
      margin-top: 10px;

    }    

    a#close-flyout .icon {
      font-size: 20px !important; 
      color: #d51616;
      margin-top: 7px;
    }    

    .filter h4 {
      font-size: 14px;    
    }

    .filter ul li a {
      font-size: 14px;
      padding-bottom: 9px;
      padding-top: 5px;   
    }    
    .filter ul li a::before {
      border-radius: 2px;
      width: 12px;
      height: 12px;      
    }

  }

 

  // @include min-large-tablet {
  //   position: static;
  //   //font-size: 14px;
  //   padding-left: 214px;
  //   width: auto;
  //   background-color: transparent;
  //   overflow: visible;
  //   transition: all 0.4s;
  //   transform: translate3D(0,0,0);
  // }







} 

//@include max-large-tablet {

  body.template-collection.flyout-active {
    height: 100%;
    overflow-y: hidden;

    footer.site-footer {
      display: none;
    }

    .collection-grid {
      overflow-y: hidden; 
    }

  }

//}


//---------------------------------------
// Touch Screen Filter Style Adjusements
//---------------------------------------
#filters-flyout { @include max-tablet {

  .filter {
    margin-bottom: 0;
  }

} }// #filters-flyout { @include max-tablet {

body.template-collection .collection-grid {
  @include desktop {
    height: auto !important; 
  }
}


//-----------------------------------------
// AJAXed collection grid content fades in
//-----------------------------------------
.collection-grid{
  position: relative;
  z-index: 500;
}
.collection-grid .loading-overlay{
  position: absolute;
  z-index: 510;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all, 1.0s, ease;
  -moz-transition: all, 1.0s, ease;
  -ms-transition: all, 1.0s, ease;
  -o-transition: all, 1.0s, ease;
  transition: all, 1.0s, ease;
}
.collection-grid .loading-overlay.opaque {
  background: white;
  opacity: 1;
}
.collection-grid p.no-results {
  @include max-tablet {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    width: 100%;
  }
}
a#mobile-clear-all-filters {
  margin: 0 auto 25px;
  position:relative;
  z-index:502;
  display: none;
  cursor:pointer;
  width:200px;
  font-family:$mont;
  font-weight:700;
  &:hover {
    color:#fff;
  }

  @include max-large-tablet {
    display: block;
  }

}


.link-collection {
  width:90%;
  ul {
    padding-bottom:12px;
    margin-bottom:12px;
    li {
      list-style:none;
      a {
        color:#a7a7a7;
        font-size:13px;
        line-height:1.75;
        display:block;
        @include desktop {
          @include transition(all 100ms ease-out);
            &:hover {
              color:$shark-black;
              @include translate(3px,0);
            }
        }
        @include max-large-tablet {
          border-bottom:1px solid #f7f7f7;
          padding:4px 0;
        }
        

      }
    }
  }
  h4 {
        display: block;
    //content: '+';
    color: $dark;
    text-transform: uppercase;
    margin-bottom: 0.7rem;
    color: rgb(32, 36, 38);
    border-bottom-color: rgb(242, 244, 245);
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(242, 244, 245);
    padding-bottom: 5px;
  }
}
