a.cartlink, a.inline-cart-close-full {
  font-family:$meri;
  color:$alt-gray();
  display:block;
  text-align:center;
  margin:1rem 0;
  text-decoration:underline;
  &:hover {
    color:$dark;
  }
}

.inline-cart-close { 
  position: absolute;
  top: -48px;
  right: 0px;
  font-size: 30px;
  cursor: pointer;
  transform: rotate(45deg);
  transform-origin:50% 50%;
  color:#fff;
  @include transition (all 200ms ease-out);
  &:hover {
    color:$alt-gray;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.inline-cart.overlay-container {
  
  position: fixed;
  top: 100px;
  background-color: $white;
  padding: 12px 0 2px;
  .inline-cart-empty {
    display: none;
  }
  &.no-items {
    .inline-cart-empty {
      display: block;
      padding: 40px 20px;
      a {
        text-decoration: underline;
      }
    }
    .inline-cart-bottomhalf, .inline-cart-tophalf {
      display: none;
    }
  }
  .inline-cart-tophalf {
    overflow: scroll;
    max-height: 280px;
  }
  @media (max-width: 440px) {
    margin: 0 10px;
    top: 63px;
    width: calc(100% - 20px);
    .inline-cart-tophalf {
      max-height: 280px;
      max-height: calc(100vh - 259px);
    }
  }
  @media (min-width: 440px) {
    left: calc(50% - 200px);
    width: 400px;
  }
}

.inline-cart-heading {
  position: absolute;
  top: -43px;
  line-height: 19px;
  font-size:12px;
  padding: 12px 18px;
  background-color: $white;
 
}

.inline-cart-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid $porcelain;  
  padding-bottom: 12px;
  padding-top:12px;
  &:first-child {
    padding-top:0;
  }
}

.inline-cart-product-thumbnail {
  flex-basis: 25%;
  padding-left: 12px;
  img {
    vertical-align: bottom;
    max-width:76px;
    width:100%;
    display:block;
  }
}

.inline-cart-product-details {
  padding-left: 12px;
  flex-basis: 60%;
}

.inline-cart-product-quantity {
  display: inline;
}

.inline-cart-product-title {
  display: inline;
}

.inline-cart-product-price {
  color: $alt-gray;
  &.inline-cart-product-price-sale {
    color: #FF0000;
    .compare-at-price {
      color: #616161;
      font-size: .75em;
    }
  }
}

.inline-cart-product-delete {
  flex-basis: 20%;
  text-align: center;
  position:relative;
  z-index:2;
  i {
    cursor: pointer;
    padding:12px 0;
    width:80%;
  }
  &:hover {
    i {
      color:#c30000;
    }
  }
}

.inline-cart-bottomhalf {
  text-align: center;
  position:relative;
  padding-top:12px;
  -webkit-box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.15); 
-moz-box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.15);
box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.15);
}

.inline-cart-total-text {
  padding-left: 12px 
}

.inline-cart-total-amount {
  padding-right: 12px
}

.inline-cart-checkout-button {
  @extend %montreg;
  width: calc(100% - 24px);
  margin-top: 12px;
  border: 2px solid $dark;
  background-color: $dark;
  color: $white;
  line-height: 60px;
  transition: color 0.5s, background-color 0.5s;
  outline:0 none;
  &:hover {
    background-color: $white;
    color: $dark;
  }
}
