#pagination {
	text-align: center;
	margin: 20px auto 30px;
	width: 100%;
	font-size: 0;
	position: relative;
	@include mobile-only {
		margin-bottom: 60px;
	}
	.prev,
	.next {
		border: none;
		@include mobile-only {
			position: absolute;
			top: 48px;
			float: none;
		}
		a {
			text-transform: uppercase;
		}
		&:hover {
			background: none;
			a {
				color: $shark-black;
			}
		}
	}
	.prev {
		float: left;
		@include mobile-only {
			left: 0;
		}
	}
	.next {
		float: right;
		@include mobile-only {
			right: 0;
		}
	}
	span {
		border-left: 1px solid $porcelain;
		color: $outer-space;
		display: inline-block;
		font-size: 14px;
		a {
			color: $outer-space;
			padding: 5px 14px 7px;
			display: block;
		}
		&:nth-child(2) {
			border: none;
		}
		&:hover {
			background: $outer-space;
			a {
				color: $white;
			}
			&.deco {
				background: none;	
			}
		}
		&.current {
			background: $outer-space;
			color: $white;
			padding: 5px 14px 7px;
		}
	}
	.deco {
		padding: 5px 6px 7px;
	}
}