// --------------
// Show goback arrow on mobile
@include max-tablet {
  .overlay-containers:not([active-overlay="none"]) ~ .header-wrapper .product-navbar-goback {
    display: block;
  }
  .overlay-containers:not([active-overlay="none"]) ~ .header-wrapper #brand {
    display: none;
  }
  #ensembles .header-wrapper #brand {
    display: block !important;
  }
}

// --------------
// When mobile quickshop modal is active (only on ensembles),
// turn off page scrolling and turn on scrolling of modal
// STATUS: TURNED OFF DESKTOP
html[modal-active] {
  @include max-tablet {
    height: 100%;
    overflow-y: hidden;
    > body {
      height: 100%;
      overflow-y: hidden;
    }
    .ensemble.quick-shop-modal {
      overflow: scroll;
      height: calc(100% - 60px);
      -webkit-transform: translateZ(0px);
      -webkit-transform: translate3d(0,0,0);
      -webkit-perspective: 1000;
      -webkit-overflow-scrolling: touch;
    }
  }
}

// --------------
// Properly layer the overlay on top of multiple overlays
// (for now, only on ensembles)
#ensembles > .overlay {
  z-index: 10000;
}

.overlay-containers[active-overlay="ensemble-quick-shop"] .overlay-container,
.inline-cart.overlay-container {
  z-index: 10003;
}

// --------------
// When mobile quickshop modal is active (only on ensembles),
// show the navbar so users can access the goback arrow
.overlay-containers[active-overlay="ensemble-quick-shop"] ~ .header-wrapper #navbar {
  @include max-tablet {
    z-index: 10003;
  }
}

// --------------
// Position of modal from top (position: fixed;  in _overlay.scss)
.quick-shop-modal.overlay-container {
  top: 30px;
  left: 0;
  right: 0;
  max-width: 840px;
  @include max-tablet {
    top:58px;
  }
} 


@include max-tablet {
  .quick-shop-modal.container.with-gutter {
    padding-left:5px;
    padding-right:5px;
  }
}

// --------------
// Set the display properties of the quickshop container
// Note: overflow-y: scroll; requires that the element has height (currently
//       only mobile ensembles only)
// Note: -webkit-overflow-scrolling allows smooth scrolling in container on iOS
.quick-shop-flex-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  background-color: $white;
  @include max-tablet {
    flex-direction: column;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  @include min-tablet {
    max-height: 600px;
    overflow: hidden;
  }
}

.quick-shop-close {
  position: absolute;
  top: -8;
  right: 24px;
  font-size: 30px;
  cursor: pointer;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  z-index:50;
  outline:0 none !important;
  @include transition (all 200ms ease-out);
  &:hover {
    color:$alt-gray;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

// --------------
// Hide thislook by default (only show on ensemble quickshop)
.quick-shop-ensemble-thislook {
  display: none;
  flex-grow: 1;
  flex-shrink: 0;
}

.quick-shop-image-slider {
  // position: relative;
  // display: flex;
  // flex-flow: row nowrap;
  overflow-x: hidden !important;
  flex-basis: 43%;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  // img {
  //   width: 100%;
  //   margin-left: -100%;
  //   transition: transform 0.3s;
  //   &:first-of-type {
  //     margin-left: 0;
  //   }
  // }
  .slick-dots {
    bottom:0;
  }
  .slick-next {
    right:10px;
  }
  .slick-prev {
    left:10px;
  }
}

// --------------
// Styling for prev/next arrow of slider
.quick-shop-slider-control {
  position: absolute;
  top: 40%;
  z-index: 100;
  cursor: pointer;
  &.previous {
    left: 0;
    transform: scale(.5);
  }
  &.next {
    right: 0;
    transform: scale(-.5);
  }
}

// --------------
// Default styling for quickshop item information container
.quick-shop-item-information {
  padding: 20px 30px 0;
  flex-basis: 57%;
  flex-grow: 1;
  flex-shrink: 0;
  @include mobile-only {
    padding:0 16px;
  }
}

// --------------
// Override default anchor styling
.quick-shop-full-details {
  a {
    @extend %montbold;
    &:link {
      text-decoration: underline;
    }
    &:visited {

    }
    &:hover {

    }
    &:active {

    }
    @include mobile-only {
      display:block;
      text-align:center;
      margin-bottom:24px;
    }
  }
}
