.product-navbar-goback,
.product-navbar-vendor,
.product-navbar-title {
  display: none;
}
body.template-product {
  @include max-tablet {
    .product-navbar-goback {
      display: block;
    }
    .product-navbar-vendor {
      display: block;
      text-align: center;
      font-size: 9px;
      font-family:$meri;
      color:$alt-gray;
      text-transform:capitalize;
    }
    .product-navbar-title {
      display: block;
      text-align: center;
      font-size: 11px;
      white-space: nowrap;
      overflow: hidden;
    }
    #navbar #brand {
      display: none;
    }
    #navbar {
      .middle {
        padding: 10px 0px 9px;
        width: 100%;
      }
      a#shopping-cart {
        display: none;
      }
    }
  }
}
.product-navbar-goback {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999; // Move to top
  cursor: pointer;
  width: 44px;
  height: 51px;
  @include background-file('arrow-left.svg');
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $outer-space;
  opacity: 0.65;
  @include transition(all 150ms ease-out);
  @include translate(-50px, 0);
  &.is-placed {
    @include translate(0px, 0px);
    opacity: 1;
  }
}
.nav-overlay {
  visibility: hidden;
  background-color: rgba(30, 30, 30, 0.6);
  background-image: linear-gradient(#000, lighten(#2e3336, 30%));
  height: 100%;
  position: fixed;
  width: 100%;
  transition: 0.3s all;
  opacity: 0;
  top: 0;
  z-index: 501;
   -webkit-transform: translate3d(0,0,0);
}
.mobile-menu-open {


  .nav-overlay {
    opacity: 0.7;
    visibility: visible;
  }
}
nav#main {
  background: $white;
  border-bottom: 1px solid $porcelain;
  width: 100%;
  height: 60px;
  @include desktop {
    height: 80px;
  }
}
.nav-dropdown {
  position: fixed;
  top: $desktop-nav-height + $topbar-height;
  right: 0;
  width: 100%;
  @include max-large-tablet {
    top: $mobile-nav-height;
  }
  .wrapper {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 1px solid #efefef;
    border-top: none;
    padding-bottom: 30px;
    float: right;
  }
}
#dropdown-cart {
  @extend .nav-dropdown;
}
//NAVBAR ELEMENT(S)
a.linksale {
  color: #ff0000 !important;
}
#top-bar {
  display: none;
}
#bottombar {
  display: none;
}
#sub-menus {
  display: none;
}
.template-product {
  .header-wrapper {
    #navbar.slide-up {
      top: -50px !important;
      // position: relative;
    }
  }
}
//Only make header-wrapper fixed when .sticky-nav is added to body tag.
@include min-large-tablet {
  .sticky-nav {
    #navbar {
      position: fixed;
      top: 0;
    }
  }
}
.header-wrapper {
  min-height: $desktop-nav-height;
  @include max-large-tablet {
    min-height: $mobile-nav-height;
  }
}
#navbar {
  transition: all 0.5s, color 0.5s;
  position: relative;
  @include max-large-tablet {
    position: fixed;
    top: 0 !important;
  }
  z-index: 1000;
  width: 100%;
  text-transform: uppercase;
  background-color:#fff;
  border-bottom:1px solid #e4e4e4;
  width: 100%;
  .middle {
    padding: 14px 14px 9px;
  }
  #brand {
    width: 90px;
    @include min-large-tablet {
      display: block;
      width: 120px;
    }
  }
  .hide-desktop {
    @include min-large-tablet {
      display: none !important;
    }
  }
  #menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px 14px 14px;
    font-size: 21px;
    line-height: 21px;
    border-left: 1px solid #e4e4e4;
    cursor: pointer;
    color: #000;
    i, i:after {
      transition: all .3s;
    }
    i {
      position: relative;
    }
    &.x {
      i {
        color: transparent;
      }
      i:after {
        color: #000;
        content: "";
        left: 0;
        position: absolute;
      }
    }
  }
  .social {
    display: none;
  }
  ul.smallnav {
    padding: 0;
    margin: 0;
    display: none;
    li {
      a {
        color: #c9cacc;
        font-size: 12px;
        position:relative;
        .fa-user {
          &:after {
            content:"LOGIN";
            font-size:8px;
            position:absolute;
            bottom:0;
            z-index:4;
            color:$dove-gray;
            left:0;
            text-align:center;
            width:100%;
          }
        }
      }
    }
  }
  #shopping-cart {
    color: $shark-black;
    position: absolute;
    top: 0;
    right: 48px;
    padding: 18px 10px 11px;
    @include min-large-tablet {
      right: 0;
      padding: 23px 24px 21px;
    }
    line-height: 21px;
    border-left: 1px solid #e4e4e4;
    @include min-large-tablet {
      position: relative;
      float: right;
      right: 0px;
      border-left: none;
      @include transition(all 100ms ease-out);
      &:hover {
        transform: scale(1.05);
      }
    }
    i.fa-shopping-cart {
      color: darken($shark-black, 15%);
      position: absolute;
      top: 48%;
      transform: translate(0px, -50%);
      right: 12px;
      @include min-large-tablet {
        color: $dove-gray;
      }
    }
    .price {
      display: none;
    }
    .cart-label {
      display: none;
      @include desktop-large {
        display: inline-block;
      }
    }
    .qty {
      @include min-large-tablet {
        left: 6px;
      }
      top: 0;
      text-align: center;
      min-width: 30px;
      font-size: 11px;
      color: #fff;
      position: relative;
      display: inline-block;
      background-color: $shark-black;
      &:before {
        border: 2px solid $shark-black;
        border-radius: 20px;
        box-sizing: border-box;
        content: "";
        display: block;
        height: 20px;
        left: 5px;
        position: absolute;
        top: -10px;
        width: 20px;
        z-index: 0;
      }
      .bubble {
        border-radius: 500px;
        display: inline-block;
        margin: 0 auto;
        height: 21px;
        line-height: 23px;
        font-size: 12px;
        z-index: 2;
        position: relative;
        &.notify:after {
          border: 5px solid green;
          border-radius: 500px;
          box-shadow: 0 0 5px;
          content: "";
          display: block;
          height: 21px;
          opacity: 0.5;
          position: absolute;
          top: 0;
          transform: scale(-1.8);
          width: 21px;
          z-index: 0;
        }
      }
    }
  }
  #link-list {
    position: absolute;
    top: $mobile-nav-height;
    right: 0;
    font-size: 19px;
    background: #2e3336;
    width: 85%;
    overflow: auto;
    transition: all 0.4s;
    transform: translateZ(0) translateX(100%);

    &.shown {
      @include mobile-only {
          -webkit-transform: translateZ(0px);
          -webkit-overflow-scrolling: touch;
    }
    }
    > ul > li a {
      padding: 12px 28px;

    }

    @include min-large-tablet {
      position: static;
      font-size: 14px;
      padding-left: 170px;
      width: auto;
      background-color: transparent;
      overflow: visible;
      transition: all 0.4s;
      transform: translate3D(0, 0, 0);
      > ul > li {
        display: inline-block;
        // position: relative;
        float: left;
        a {
          padding: 23px 24px 22px 16px;
          &.no-sub {
            padding: 23px 11px 21px;
          }
        }
      }
    }
    @include desktop-large {
      padding-left: 214px;
      > ul > li {
        a {
          padding: 23px 36px 22px 16px;
          &.no-sub {
            padding: 23px 16px 21px;
          }
        }
      }
    }
    &.shown {
      transform: translate3D(0, 0, 0);
    }
    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
      transition: all .2s 0 ease-out;


      @include min-large-tablet {
        border-right: 2px solid $shark-black;
        padding-left: 0;
        margin: 0;
        border: none;
        transition: all .2s 0 ease-out;
      }
      li {
        border-bottom: 1px solid #272727;
        @include min-large-tablet {
          border-bottom: none;
        }
        &:last-child {
          border-bottom: none;
        }
        a {
          display: inline-block;
          width: 100%;
          color: #fff;
          text-decoration: none;
          transition: all .2s 0 ease-out;
          @include min-large-tablet {
            color: #1b1b1b;
            display: inline-block;
            width: 100%;
            transition: all .2s 0 ease-out;
            &:hover {
              color: #7e7e7e !important;
            }
          }
        }
        .sub-toggle {
          position: relative;
          &:before {
            height: 20px;
            width: 100%;
            position: absolute;
            bottom: -20px;
            left: 0px;
            content: '';
          }
          &:after {
            content: "\f107";
            font-family: 'FontAwesome';
            position: absolute;
            right: 9px;
            top: 15px;
            transition: all 0.2s;
            @include min-large-tablet {
              top: 23px;
            }
            @include desktop-large {
              right: 15px;
            }
          }
          &.active {
            background-color: $porcelain;
            color: $shark-black;
          }
          &.opened {
            background: #fff;
            color: #000;
            &:after {
              transform: rotate(180deg);
            }
          }
        }
        &.social-m {
          @include min-large-tablet {
            display: none;
          }
          a {
            width: 33.33%;
            float: left;
            text-align: center;
            padding: 12px 0;
            & + a {
              border-left: 1px solid $shark-black;
            }
            border-bottom: 1px solid $shark-black;
          }
        }
        &.m-search-form {
          form {
            margin: 15px 30px;
            position: relative;
          }
          .ctabtn {
            background: #000;
            color: $porcelain;
            max-width: 20%;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            height: 100%;
            border: 0 none;
            position: absolute;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
          }
          input {
            background-image: none;
            background-color: #202427;
            border: none;
            color: $porcelain;
            font-size: 12px;
            padding: 10px;
            width: 80%;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            border: 1px solid #000;
            @extend %montreg;
            &:focus {
              box-shadow: none;
              outline: none;
            }
          }
        }
      }
      .sub-toggle.opened + {
        .sub-list {
          max-height: 2000px;
          transform: perspective(400px) rotate3d(0, 0, 0, 0);
          padding: 22px 0 30px;
          @include max-large-tablet {
            padding-top:4px;
          }
        }
      }
      @include min-large-tablet {
        li:hover {
          .sub-list {
            max-height: 2000px;
            transform: perspective(400px) rotate3d(0, 0, 0, 0);
          }
        }
      }
      .sub-list {
        border-bottom: none;
        border-right: none;
        overflow: hidden;
        z-index: 1;
        max-height: 0;
        transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        transform-origin: 50% 0;
        transition: 200ms;
        -webkit-backface-visibility:hidden;
        @include min-large-tablet {
          background-color: #fff;
          right: 0;
          position: absolute;
          width: 100vw;
          margin-top: 1px;
          max-width: 820px;
          margin-left: 0;
          margin-right: 0;
          box-shadow: 0 30px 40px #f2f4f5;
          box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
          padding: 20px 60px 20px;
        }
        @include max-large-tablet {
          background-color: $shark-black;
          color: $porcelain;
        }
        .list-title {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 11px;
          color: $alt-gray;
          margin-bottom: 1.25rem;
          letter-spacing: 0.05em;
          @include min-large-tablet {
            border-bottom: 1px solid $porcelain;
            padding-bottom: 5px;
          }
          @include max-large-tablet {
            color: lighten($shark-black, 15%);
            font-size: 10px;
            margin-bottom:0;
          }
        }
        .list-block {
          @include min-large-tablet {
            margin-bottom: 24px;
          }
          @include max-large-tablet {
            & + .list-block {
              margin-top: 22px;
              &.lower {
                margin-top:10px;
              }
            }
            .list {
              column-count: 1 !important;
              column-gap: 0;
            }
          }
          &.lower {
            a {
              text-transform: none;
            }
          }
          .list {
            column-count: 4;

            a {
              &.bold-link {
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                &:after {
                  content: ">";
                  margin-left: 10px;
                }
              }
              @include min-large-tablet {
                color: $dove-gray;
                &.bold-link {
                  color: $shark-black;
                }
              }
            }
          }
        }
        li a,
        .list-title {
          @include max-large-tablet {
            padding: 8px 30px;
          }
        }
        li {
          a {
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.015em;
            text-transform: capitalize;
            @include min-large-tablet {
              color: $shark-black;
              padding: 5px 0;
              &:hover {
                text-decoration: underline;
                color: #000 !important;
              }
            }
            @include max-large-tablet {
              color: #fff;
              font-size: 14px;
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  #top-bar {
    display: block;
    z-index: 1000;
    background-color: $shark-black;
    border-bottom: 1px solid #262629;
    color: $porcelain;
    span {
      font-size: 11px;
      line-height: 27px;
      padding-left: 6px;
    }
    a {
      font-size: 12px;
      color: #373737;
      float: right;
      display: inline-block;
      padding: 5px 10px 5px;
      &.right {
        margin-right: 9px;
      }
      &.country {
        img {
          margin-top: -2px;
          margin-right: 4px;
        }
      }
    }
    .wrapper {
      padding-right: 60px;
      padding-left: 138px;
    }
    .dropdown {
      list-style: none;
      padding: 0;
      margin: 0;
      float: right;
      li:hover ul {
        display: block;
        opacity: 1;
        visibility: visible;
      }
      > li {
        position: relative;
        &:hover > a {
          background-color: $porcelain;
          color: $shark-black;
        }
      }
      li ul li {
        background-color: $shark-black;
        display: block;
        color: #fff;
        border-top: 1px solid $shark-black;
      }
      li ul {
        padding: 0;
        position: absolute;
        z-index: 2;
        top: 27px;
        width: 100%;
        left: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s;
        a {
          color: $porcelain;
          font-size: 12px;
          text-align: center;
          display: block;
          padding: 6px 10px 4px;
          float: none;
        }
        &.country {
          a {
            text-align: left;
          }
        }
      }
      li ul li:hover {
        background-color: $porcelain;
        a {
          color: $shark-black;
        }
      }
    }
  }
  #navbar {
    background-color: #fff;
    max-height: $desktop-nav-height;
    .container {
      position: relative;
      @include max-large-tablet {
        width: 100%;
        padding: 0;
      }
    }
    .middle {
      position: absolute;
      padding: 11px 36px 13px 12px;
      left: 0;
      z-index: 10000;
      a {
        display: block;
      }
    }
    #brand {
      width: 148px;
    }
    #menu-toggle {
      display: none;
    }
    .social-m,
    .search-form {
      display: none !important;
    }
    ul.smallnav {
      display: block;
      text-align: right;
      position: absolute;
      right: 67px;
      top: 12px;
      li {
        display: inline-block;
        border-left: 1px solid $porcelain;
        a {
          display: inline-block;
          padding: 6px 18px;
          color: $shark-black;
          font-size: 20px;
        }
        &:last-child {
          border-right: 1px solid $porcelain;
        }
      }
      @include desktop-large {
        right: 148px;
      }
    }
  }
}
@media (min-width: 1200px) {
  #navbar {
    .social {
      display: block;
      float: right;
      list-style: none;
      padding: 0;
      margin: 0;
      > li {
        display: inline;
      }
      margin-right: 13px;
      a {
        padding: 18px 10px 17px;
        display: inline-block;
      }
      li {
        float: left
      }
    }
  }
}
.middle {
  @include max-tablet {
    width: calc(100% - 95px);
    height: 51px;
  }
}
// ╔═.♥.═════════════╗
//   ANIMATED SEARCH
// ╚═════════════.♥.═╝
.animated-search-form {
  position: absolute;
  top: 0;
  right: 54px;
  height: 42px;
  z-index: 1000; // Search z-index base
  background-color: $white;
}
.animated-search-input {
  @extend %montreg;
  height: 42px;
  width: 0px;
  margin-right: 54px;
  vertical-align: top;
  border: none;
  transition: width 0.5s;
  &:focus {
    outline: 0;
  }
  &.is-active {
    width: 170px;
    margin-left: 19px;
  }
}
.animated-search-submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 42px;
  width: 56px;
  border: none;
  background-color: transparent;
  z-index: 1002;
  &:focus {
    outline: 0;
  }
}
.animated-search-icon {
  position: absolute;
  top: 14px;
  right: 21px;
  z-index: 1001;
}

// ╔═.♥.══════════════╗
//   NAV FLYOUT - 7/9
// ╚══════════════.♥.═╝

#link-list {
  color: red;
  .mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    @include desktop {
      display: inherit;
    }
  }
  .fourxfour {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    a {
      flex-basis: 50%;
      width: 50% !important;
      font-size:14px;
      text-align: center;
      padding: 18px 14px !important;
      &:nth-child(-n+2) {
        border-bottom: 1px solid #272727 !important;
      }
      &:nth-child(odd) {
        border-right: 1px solid #272727 !important;
      }
    }
  }
  .item-search       {order: 1;}
  .item-new-arrivals {order: 2;}
  .item-ensembles    {order: 3;}
  .item-designers    {order: 6;}
  .item-categories   {order: 5;}
  .item-blog         {order: 7;}
  .item-sale         {order: 4;}
  .item-account      {order: 9;}
  .item-social       {order: 8;}
}
